/* @override 
	http://localhost:5000/static/css/main.css */

body { 
	background: #eee url('debut_light.png') repeat;
	font-family: 'Open Sans', sans-serif; }

.clearfix:before, 
.clearfix:after { content: " "; display: table; }
.clearfix:after { clear: both; }

.wrapper {
	margin: 0 auto;
	width: 800px; }

.links {
	padding: 0;
	margin: 0;
	font-size: .8em;
	float: right;
	clear: both; }
	
.topnav { margin: 3px 0 15px; }

.links li {
	background-color: #dc0bb7;
	border-radius: 3px;
	color: #fff;
	display: inline;
	list-style: none;
	padding: 8px 6px 4px;
	text-transform: uppercase; }
	
	.links li:hover { 
		background-color: #ffee0d;
		color: #000; }
	
	.links li a { color: #fff; }
	.links li a:hover {
		color: #000;
		text-decoration: none; }
	
.search_again {
	background-color: #f9f9f9;
	border: 1px solid #e9e9e9;
	border-radius: 5px;
	margin: 40px auto;
	overflow: hidden;
	padding: 15px;
	width: 600px; }
	
	.search_again h4 {
		color: #666;
		font-weight: bold;
		font-size: .9em;
		text-transform: uppercase; }
	
	.search_again .navbar-form { padding: 0; }
	
h2.movie-title {
	border-bottom: 1px solid #ccc;
	margin: 30px 0 0;
	padding-bottom: 10px; }

h3.average-rating { margin: 5px 0 ; }

.user-ratings { padding-bottom: 50px; }

	.user-ratings ul { padding: 0;}

	.user-ratings li {
		border-bottom: 1px solid #ccc;
		list-style: none;
		padding: 5px 0; }
	
		.user-ratings li:first-child { border-top: 2px solid #0b74cf; }
		
		.user-ratings li:hover { background-color: #fff; }

.user-list table { width: 100%; }

	tr.user_list_head { border-top: 2px solid #0b74cf; }
	.user-list tr { border-bottom: 1px solid #ccc; }
		.user-list tr:hover { background-color: #fff; }

	.user-list td { padding: 10px 0; }

	td.user_id_head,
	td.user_ratings_head { 
		font-size: 1.1em;
		font-weight: bold;
		width: 40% }

	td.user_age_head { 
		font-size: 1.1em;
		font-weight: bold;
		width: 20%;}

	td.user_age_head,
	td.user_ratings_head,
	td.user_age_body,
	td.user_ratings_body { text-align: center; }

	.user-list table a { 
		display: block;
		text-decoration: none }


h2.profile {
	border-top: 5px solid #0b74cf;
	color: #dc0bb7;
	padding-top: 10px;
	margin-bottom: 8px; }

form.signin,
form.register {
    width: 330px;
    margin: 50px auto; }
    
    form.movie_search { margin: 5px auto; }
    
input.btn.btn-md.btn-primary.btn-block {
	margin: 10px auto 20px;
	max-width: 200px; }
	
form.signin input.form-control,
form.register input.form-control { margin-bottom: 5px }

form.signin input.btn { margin-top: 15px; }

form ul { padding: 0 }

form ul li { 
    background-color: #f9f892;
    border: 1px solid #dbd966;
    border-radius: 5px;
    color: #666;
    font-size: .9em;
    padding: 8px;
    list-style-type: none; }