{% extends 'master.html' %}

{% block body %}
    <ul>
        {% for message in get_flashed_messages() %}
            <li>{{ message }}</li>
        {% endfor %}
    </ul>
 
    <form class="signin" action="{{ url_for('login') }}" method="post">
        <input type="text" class="form-control" placeholder="Email" name="email">
        <input type="password" class="form-control" placeholder="Password" name="password">
        <input type="submit" class="btn btn-md btn-primary btn-block" value="Submit">
    </form>

    Not a user? <a href="{{ url_for("register") }}">Register</a> a new account

<!-- {% for user in users %}
<h2>User {{ user.id }}, age {{ user.age }} has {{ user.ratings|length }} ratings</h2>
{% endfor %}
 -->
{% endblock %}