{% extends 'master.html' %}

{% block body %}
<h1>Welcome to the Judgemental Eye</h1>
    <h2>{{ movie.name }}</h2>
    <ul>
        {% for message in get_flashed_messages() %}
            <li>{{ message }}</li>
        {% endfor %}
    </ul>
    
    <a href="{{ movie.imdb_url }}">View {{movie.name}} on IMDB</a>

    <div class="user-ratings">
        {% if user_rating %}
        <h3>Your rating: {{ user_rating.rating }}</h3>
        {% endif %}

        <h2>Rate this movie</h2>
            <form action="{{url_for('rate_movie', movie_id=movie.id)}}" method="post">
                <select name="rating">
                    <option value="0">0</option>
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                    <option value="5">5</option>
                </select>
                <input type="submit">
            </form>    
    </div>

{% endblock %}