{% extends 'master.html' %}

{% block body %}
<h1>Welcome to the Judgemental Eye</h1>
    <ul>
        {% for message in get_flashed_messages() %}
            <li>{{ message }}</li>
        {% endfor %}
    </ul>
    <h2 class="profile">User: {{user.id}}</h2>
    <div class="user-ratings">
        <ul>
            <!-- i is object which is a users rating of a movie, so you can get the movie name from that object -->
            {% for i in user.ratings %}
                <li><a href={{ url_for("view_movie", movie_id=i.movie.id) }}>{{ i.movie.name }}</a> <span class="rating">Rating: <strong>{{ i.rating }}</strong></span></li>
            {% endfor %}
        </ul>
    </div>


{% endblock %}